<div class="container">
    <div class="row1">
      <div class="card col-lg-6 col-md-10 col-sm-12 m-auto">
        <div class="card-body">
          <div class = "col mx-auto mt-10">
            <h2 class="text-center">Log in</h2>
            <%= form_with model: @user, url: user_session_path, local: true do |f| %>
              <!--<div class="field">-->
              <div class="form-group text-center">
                <%= f.label :name %><br />
                <%= f.text_field :name, autofocus: true, class: "form-control col m-auto" %>
              </div>

              <div class="form-group text-center">
              <!--<div class="field">-->
                <%= f.label :password %><br />
                <%= f.password_field :password, autocomplete: "current-password", class: "form-control col m-auto" %>
              </div>

              <% if devise_mapping.rememberable? %>
                <div class="form-group text-center">
                <!--<div class="field">-->
                  <%= f.check_box :remember_me %>
                  <%= f.label :remember_me %>
                </div>
              <% end %>

              <div class="actions text-center mb-5">
                <%= f.submit "Log in", class: "btn btn-outline-secondary btn-block" %>
              </div>
            <% end %>
            <div class="text-center">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>